<div class="form flex">
<div class="leftbox">
<h1 >About this app</h1>
<p>This app was created by Dovid Rabinowitz. The app was designed to let a user add contacts, update contacts and to delete contacts. This app is to help me devolop my skills in Sintra and get me ready to use Rails. So exicted!!</p>

</div>
<img class="margin" src="phone_book.jpg" alt="a phone book">
</div>